body{
    background: rgb(207, 230, 234);
}

.About{
    font-size: 65px;
    padding: 100px 50px;
}

.about-us{
    margin: 0px 18rem;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 120px;
}

.teamimg {
    width: 100px;
    height: 100px;
    margin: 5px 100px;
}


.teamimage1 {
    width: 20%;
    padding: 10px 10px;
    margin-left: 25rem;
    float: left;
}

.teamimage2 {
    width: 20%;
    padding: 10px 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    float: left;
}

.teamimage1 p{
    text-align: center;
    margin: 5px 100px;
    padding: 0px 15px;
}
.teamimage2 p{
    text-align: center;
    margin: 5px 100px;
    padding: 0px 15px;
}
