body{
    background: rgb(207, 230, 234);
}

.About{
    font-size: 65px;
    padding: 100px 50px;
}

.about-us{
    margin: 0px 18rem;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 120px;
}

.teamimg {
    position: static;
    width: 5rem;
    height: 5rem;
    margin: 50px 30rem;
}

.row {
  display: flex;
}

.teamimage {
    float: left;
    width: 20%;
    padding: 15px 6rem;
}
