.add-con{
    width: 40rem;
    height: 68rem;
    margin: 25px auto;
    padding: 50px;
    background-color: rgb(199, 220, 226);
    border-radius: 10px;
}

.add-con h1{
    text-align: center;
}

.addproduct-btn{
    float: right;
    padding: 10px 25px;
    background-color: rgb(13,202,240);
    border: none;
    margin-top: 20px;
  }

  .card{
    height: 100%;
    position: revert;
  }