.feattext{
    margin-top: 10rem;
    margin-bottom: 50px;
    text-align: center;
}

.feattext1{
    font-size: 50px;
}

.potential p{
    font-size: 100px;
    border-style: solid;
    border-radius: 9px;
    margin-right: 20rem;
    margin-left: 20rem;
}

.numofpounds p{
    font-size: 100px;
    border-style: solid;
    border-radius: 9px;
    margin-right: 20rem;
    margin-left: 20rem;
}

.featBtn {
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    margin-left: 43rem;
    margin-right: auto;
    background: #4cecf8;
    margin-bottom: 50px;
}

.featBtn:hover {
    background-color: #fff;
    color: #3a3c9b;
    transition: 250ms;
}

.feattext2 h1{
    font-size: 60px;
    margin: 100px;
}

.feattext2 h2{
    text-align: center;
    font-size: 50px;
}

.feat2Btn {
    border-radius: 5px;
    padding: 10px 60px;
    font-size: 20px;
    margin: 50px 0 0 45%;
    background: #4cecf8;
    font-size: 30px;
}

.feat2Btn:hover {
    background-color: #fff;
    color: #3a3c9b;
    transition: 250ms;
}

h4{
    margin-top: 40px;
    padding: 10px 300px;
}

.note-container p{
    font-size: 20px;
    padding: 50px;
    border-style: solid;
    margin: 10px 300px;
}