*{
    font-family: 'Raleway', sans-serif;
  }

.logo{
    height: 500px;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
}

.landing-page h1{
    text-align: center;
    font-size: 100px;
    padding-top: 15%;
    color: rgb(5, 5, 5);
}

.landing-page button{
    padding: 1rem 55px;
    font-size: 2rem;
    margin: 0;
    margin-top: 6rem;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    border: none;
    background: rgb(95, 174, 216);
    color: #fff;
    position: relative;
}

.landing-page button:hover{
    background: rgb(26, 51, 69);
}