.mainCon{
  width: 550px;
  margin: 25px auto;
  padding: 50px;
  background-color: rgb(199, 220, 226);
  border-radius: 10px;
}

.log-con{
  text-align: center;
}

.btnlog{
  margin: 30px 10rem;
  padding: 10px 25px;
}

/*Register css*/
.mainregCon{
  width: 40rem;
  height: 49rem;
  margin: 25px auto;
  padding: 70px;
  background-color: rgb(199, 220, 226);
  border-radius: 10px;
}

.registerForm{
  width: auto;
}

