.mainCon{
  width: 550px;
  margin: 30px 90px;
  padding: 50px;
  background-color: rgb(199, 220, 226);
  border-radius: 10px;
}

.log-con{
  text-align: center;
}

.btnlog{
  margin: 30px 10rem;
  padding: 10px 25px;
}

/*Register css*/
.mainregCon{
  width: 40rem;
  height: 49rem;
  margin: 30px 100px;
  padding: 70px;
  background-color: rgb(199, 220, 226);
  border-radius: 10px;
}

.registerForm{
  width: auto;
}

.back-btn{
  width: 80px;
  height: 50px;
  margin-top: 40px;
  margin-left: 20rem;
  cursor: pointer;
}
